*[class*="fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iframe-content {
    margin: 0 -20px;
}

.iframe-content iframe {
    min-height: 770px;
    height: 100%;
    width: 100%;
}

.inner-content {
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
}

.deptName{
	cursor:pointer;
}

.child {
	text-indent: 2em;
}

.dChild {
	display: none;
}

.center{
	text-align: center !important;
}
.right{
	text-align: right !important;
}
.left{
    text-align: left !important;
}

.validate-has-error-custom {
	display: none;
    padding-top: 5px;
    font-size: 12px;
    color: rgb(204, 63, 68);
}

.permarg{
	margin-left: 0px !important;
	margin-right: 10px;
}
.percontair{
	max-height: 82px;
	overflow-y: auto;
}
.gitAdd{
	color: blue;
}

.chat-text{
	float: left;
	width: 287px;
	padding-right: 0px;
}
.chat-mess-botton{
	float:right;
	height: 52px;
	width: 50px;
}

.mys{
	background-color: #e8c9f5;
}

.ots{
	background-color: #acef90;
}
.pointer {
	cursor:pointer;
}