<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include :: header"></head>
<body>
  <div class="inner-content">
  <div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Boot Mustr <small>使用的技术</small></div>
            </div>
            
            <div class="panel-body">
            
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="row">
                            <div class="col-sm-6">
                            
                                <h5>Spring</h5>
                                
                                <blockquote>
                                    <p>spring</p>
                                    <p>spring boot</p>
                                    <p>spring mvc</p>
                                    <p>spring security</p>
                                </blockquote>
                                
                            </div>
                            
                            <div class="col-sm-6">
                                
                                <h5>Extra</h5>
                                
                                <blockquote>
                                    <p>XENON</p>
                                    <p>layui<p>
                                    <p>bootstrap<p>
                                    <p>mybatis<p>
                                    <p>mysql<p>
                                </blockquote>
                        
                            </div>
                        </div>
                        
                        <br />
                        
                        <blockquote class="pull-right">
                            <p>Boot Mustr作为大家在开发spring boot时的参考，以及咋们相互之间的交流。</p>
                            <small>
                                <a href="#" class="gitAdd">Git项目地址</a>
                            </small>
                        </blockquote>
                    
                    </div>
                </div>
            
            </div>
            
        </div>
    
    </div>
</div>
  
  </div>
</body>

</html>